.messageViewElementBox {
    font-size: 12px;
    padding: 5px;
    line-height: 120%;
}

.userInfo {
    background-color: #B0B0B0;
    padding: 4px 3px 3px;
    width: 485px;
    display: block;
    font-size: 7pt;
    overflow: hidden;
    white-space: nowrap;
}

.messageView {
    overflow: auto;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #455469;
    padding: 4px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 5px #888888;
    left: 35px;
    width: 785px;
}

.messageViewElementBox {
    font-size: 12px;
    padding: 5px;
    line-height: 120%;
    height: 14px;
}

.messageEditBox {
    font-family: Arial Unicode MS, Arial, sans-serif;
    width: 100%;
    height: 50px;
    resize: none;
    margin-top: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.starIcon {
    width: 14px;
    height: 14px;
    /*padding-bottom: 1px;*/
    padding-right: 2px;
    padding-left: 8px;
    display: block;
}

.motdStarLabel {
    font-size: 12px;
    padding: 2px;
    width: 45px;
}

.starLabel {
    font-size: 10px;
    /*padding: 2px;*/
    height: 10px;
    width: 45px;
}

.deleteIcon {
    width: 14px;
    height: 14px;
    /*padding-bottom: 1px;*/
    padding-right: 2px;
    padding-left: 8px;
    display: block;
}

.deleteLabel {
    font-size: 10px;
    height: 10px;
    /*padding: 2px;*/
    width: 45px;
}

.editIcon {
    width: 14px;
    height: 14px;
    /*padding-bottom: 1px;*/
    padding-right: 2px;
    padding-left: 8px;
    display: block;
}

.editLabel {
    font-size: 10px;
    height: 10px;
    /*padding: 2px;*/
    width: 45px;
}

.entryBox {
    /*height: 40px;*/
    background-color: #E0E0E0;
    border: 1px solid #455469;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 795px;
}

.leftToolbar {
    margin-left: 10px;
}

.mainPanel {
    background-image: url('images/backgrounds/convore.jpg');
    background-repeat: repeat;
    min-width: 1000px;
    min-height: 300px;
}

.motdInfo {
    font-size: 10px;
    width: 100%;
    height: 15px;
    /*text-align: right;*/
    overflow: hidden;
}

.messageEditBox {
    font-family: Arial Unicode MS, Arial, sans-serif;
    width: 100%;
    height: 50px;
    resize: none;
    margin-top: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginBox {
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 1px solid #455469;
    box-shadow: 4px 4px 5px #888888;
    background: white;
}

.loginLabel {
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: smaller;
}

.loginHeader {
    background: #22366A;
    background: -moz-linear-gradient(top, #22366a 0%, #596d89 50%, #4d668a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22366a), color-stop(50%,#596d89), color-stop(100%,#4d668a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #22366a 0%,#596d89 50%,#4d668a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #22366a 0%,#596d89 50%,#4d668a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #22366a 0%,#596d89 50%,#4d668a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #22366a 0%,#596d89 50%,#4d668a 100%); /* W3C */
    padding: 4px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.loginEntryBox{
    padding: 1px !important;
}

.loginCheckbox {
    font-weight: bold;
    font-size: smaller;
}

.loginButton {
    font-weight: bold;
    font-size: smaller !important;
    padding: 4px 10px !important;
    margin: 4px !important;
}

.popupImage {
    width: 64px;
    height: 64px;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 7px;
}

.popupLabel {
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
}

.countItem {
    text-align: center;
    font-size: 10px;
}

.closeButton {

}

.statsImageButton {

}

.statsChartLabel {

}

.messageStatusBar {
    background-color: #B0B0B0;
    height: 16px;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
}

.userAvatar {
    margin-top: 3px;
}