.messageView {
    overflow: auto;
    position: absolute;
    background-color: #ffffff;
    border: 3px solid #455469;
    padding: 4px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 5px #888888;
    left: 10px;
    width: 95%;
}

.entryBox {
    /*height: 40px;*/
    background-color: #E0E0E0;
    border: 3px solid #455469;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 96.5%;
}

.motdInfo {
    font-size: 14px; !important
    width: 100%;
    height: 15px;
    text-align: right;
    overflow: hidden;
}

/* Landscape */
@media screen and (min-aspect-ratio: 15/9) {
    .messageEditBox {
        font-family: Arial Unicode MS, Arial, sans-serif;
        font-size: large;
        width: 100%;
        height: 50px;
        resize: none;
        margin-top: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .userInfo {
        background-color: #B0B0B0;
        padding: 3px;
        width: 485px;
        display: block;
        font-size: 8pt !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    .messageViewElementBox {
        font-size: 16px;
        padding: 5px;
        line-height: 120%;
    }

    .starLabel {
        font-size: 18px;
        padding: 2px;
        width: 80px;
    }

    .deleteLabel {
        font-size: 18px;
        padding: 2px;
        width: 80px;
    }

    .editLabel {
        font-size: 18px;
        padding: 2px;
        width: 80px;
    }

    .starIcon {
        width: 20px;
        height: 20px;
        padding-top: 1px;
        padding-right: 2px;
        padding-left: 16px;
    }

    .deleteIcon {
        width: 20px;
        height: 20px;
        padding-top: 1px;
        padding-right: 2px;
        padding-left: 8px;
    }

    .editIcon {
        width: 20px;
        height: 20px;
        padding-top: 1px;
        padding-right: 2px;
        padding-left: 8px;
    }
}

/* Portrait */
@media screen and (max-aspect-ratio: 15/9) {
    .messageEditBox {
        font-family: Arial Unicode MS, Arial, sans-serif;
        font-size: x-large;
        width: 100%;
        height: 60px;
        resize: none;
        margin-top: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .userInfo {
        background-color: #B0B0B0;
        padding: 3px;
        width: 485px;
        display: block;
        font-size: 12pt !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    .messageViewElementBox {
        font-size: 23px; !important
        padding: 5px;
        line-height: 120%;
    }


    .starLabel {
        font-size: 22px;
        padding: 2px;
        width: 80px;
    }

    .deleteLabel {
        font-size: 22px;
        padding: 2px;
        width: 80px;
    }

    .editLabel {
        font-size: 22px;
        padding: 2px;
        width: 80px;
    }

    .starIcon {
        width: 24px;
        height: 24px;
        padding-top: 1px;
        padding-right: 2px;
        padding-left: 16px;
    }

    .deleteIcon {
        width: 24px;
        height: 24px;
        padding-top: 1px;
        padding-right: 2px;
        padding-left: 8px;
    }

    .editIcon {
        width: 24px;
        height: 24px;
        padding-top: 1px;
        padding-right: 2px;
        padding-left: 8px;
    }
}

.loginBox {
    width: 600px;
    height: 300px;
    margin-top: -150px;
    margin-left: -300px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 3px solid #455469;
    box-shadow: 4px 4px 5px #888888;
    background: white;
}

.loginLabel {
    width: 200px;
    text-align: right;
    font-weight: bold;
    font-size: x-large;
}

.loginHeader {
    background: #22366A;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#22366A), to(#4D668A));
    padding: 4px;
    font-weight: bold;
    font-size: x-large;
    color: white;
    margin-bottom: 5px;
}

.loginEntryBox{
    padding: 1px !important;
    font-size: x-large;
}

input[type=checkbox]
{
    -webkit-transform: scale(1.5);
    margin: 8px;
}

.loginCheckbox {
    font-weight: bold;
    font-size: x-large;
}

.loginButton {
    font-weight: bold;
    font-size: x-large !important;
    padding: 4px 10px !important;
    margin: 4px !important;
}
