/* Portrait */
@media screen and (max-aspect-ratio: 15/9) {
    .userInfo {
        background-color: #B0B0B0;
        padding: 3px;
        width: 485px;
        display: block;
        font-size: 16pt !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    .messageViewElementBox {
        font-size: 30px !important;
        padding: 5px;
        line-height: 120%;
    }

    .starLabel {
        font-size: 20px;
        padding: 2px;
        width: 45px;
    }

    .deleteLabel {
        font-size: 20px;
        padding: 2px;
        width: 45px;
    }

    .editLabel {
        font-size: 20px;
        padding: 2px;
        width: 60px;
    }

    .userAvatar {
        width: 48px;
        height: 48px;
        margin-top: 4px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .ogAnchor {
        text-decoration: none;
        font-family: "Times New Roman", Georgia, Serif;
        font-weight: bold;
        color: black;
        font-size: 20px;
    }

    .ogAnchor:visited {
        text-decoration: none;
        font-family: "Times New Roman", Georgia, Serif;
        font-weight: bold;
        color: black;
        font-size: 20px;
    }
}
