@def OPACITY_DURATION 250ms;

.nativeVerticalScrollbar {
    opacity: 0;
    filter: literal("alpha(opacity = 0)");
    -webkit-transition: opacity OPACITY_DURATION;
    -moz-transition: opacity OPACITY_DURATION;
    -o-transition: opacity OPACITY_DURATION;
    transition: opacity OPACITY_DURATION;
}

.nativeVerticalScrollbar:hover {
    opacity: 1.0;
    filter: literal("alpha(opacity = 100)");
}